.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
    overflow: hidden;
    outline: 1pt solid var(--color-surface-4);
    transition: outline-color 0.5s ease, box-shadow 0.5s ease;
}

.container:hover {
    outline: 1pt solid var(--color-primary-highlight);
    box-shadow: 0 0 0.2rem 0.2rem var(--color-surface-3);
}

.container:focus-within {
    outline: 1pt solid var(--color-primary);
}
