.markdowner-theme {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    color: #333;
}

.markdowner-theme .column:nth-of-type(2) {
    background-color: #efefef;
    padding: 1rem;
}

.markdowner-theme h1 {
    font-size: 1.7em;
    margin: 0.5em 0;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.markdowner-theme h2 {
    font-size: 1.6em;
    margin: 0.5em 0;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.markdowner-theme h3 {
    font-size: 1.3em;
    margin: 0.5em 0;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.markdowner-theme h4 {
    font-size: 1.2em;
    margin: 0.5em 0;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.markdowner-theme h5 {
    font-size: 1.1em;
    margin: 0.5em 0;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.markdowner-theme h6 {
    font-size: 1em;
    margin: 0.5em 0;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.markdowner-theme hr {
    width: 90%;
    height: 1px;
    border: none;
    background-color: #ccc;
    padding: 0;
    margin-top: 0.7rem;
}
.markdowner-theme p {
    margin: 0.1rem 0;
    margin-bottom: 0.1rem;
}

.markdowner-theme blockquote {
    margin: 0.5em 0;
    padding: 0.3em 0.6em;
    border-left: 0.2em solid #dfe2e5;
    background: #f8f8f8;
}

.markdowner-theme ul,
.markdowner-theme ol {
    padding-left: 1.5em;
    margin: 0.5em 0;
}

.markdowner-theme li {
    margin: 0.2em 0;
}

.markdowner-theme pre {
    background: #f8f8f8;
    padding: 0.5em;
    overflow: auto;
    border-radius: 4px;
}

.markdowner-theme code {
    font-family: inherit;
    background: #fff;
    padding: 0.3em 0.3em;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    line-height: 1.5rem;
}

.markdowner-theme a {
    color: #0366d6;
    text-decoration: none;
}

.markdowner-theme img {
    max-width: 100%;
    height: auto;
}

.markdowner-theme table {
    border-collapse: collapse;
    width: 100%;
    margin: 0.5em 0;
}

.markdowner-theme th,
.markdowner-theme td {
    border: 1px solid #dfe2e5;
    padding: 0.3em 0.5em;
    text-align: left;
}
