.markdowner-theme {
    font-size: 8pt;
}

.markdowner-theme .align-right {
    text-align: right;
}

.markdowner-theme .space-between {
    display: flex;
    justify-content: space-between;
}

.markdowner-theme .level-bar {
    display: flex;
    align-items: center;
    gap: 0.1em;
    font-size: 0.5rem;
}

.markdowner-theme .level-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    gap: 0.4em;
}
