.markdowner-theme {
    font-size: 8pt;
}

.markdowner-theme .align-right {
    text-align: right;
}

.markdowner-theme .space-between {
    display: flex;
    justify-content: space-between;
}

.markdowner-theme .level-bar {
    display: flex;
    align-items: center;
    gap: 0.1em;
}

.markdowner-theme .level-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    gap: 0.4em;
}

.markdowner-theme .shp-circle-full {
    border-radius: 50%;
    background-color: #535bf2;
    border: 1px solid #535bf2;
    width: 0.4rem;
    height: 0.4rem;
}

.markdowner-theme .shp-circle-empty {
    border-radius: 50%;
    border: 1px solid #535bf2;
    width: 0.4rem;
    height: 0.4rem;
}
