.markdowner-theme {
    font-size: 8pt;
}

.markdowner-theme .align-right {
    text-align: right;
}

.markdowner-theme .space-between {
    display: flex;
    justify-content: space-between;
}

.markdowner-theme .vertical-spacer-min {
    height: 3%;
}
.markdowner-theme .vertical-spacer-1 {
    height: 10%;
}
.markdowner-theme .vertical-spacer-2 {
    height: 20%;
}
.markdowner-theme .vertical-spacer-3 {
    height: 30%;
}
.markdowner-theme .vertical-spacer-4 {
    height: 40%;
}
.markdowner-theme .vertical-spacer-5 {
    height: 50%;
}
.markdowner-theme .vertical-spacer-6 {
    height: 60%;
}
.markdowner-theme .vertical-spacer-7 {
    height: 70%;
}
.markdowner-theme .vertical-spacer-8 {
    height: 80%;
}
.markdowner-theme .vertical-spacer-9 {
    height: 90%;
}
.markdowner-theme .vertical-spacer-full {
    height: 100%;
}

.markdowner-theme .level-bar {
    display: flex;
    align-items: center;
    gap: 0.1em;
    font-size: 0.5rem;
}

.markdowner-theme .level-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    gap: 0.4em;
}
