.preview-reset {
    all: initial;
}

.preview-reset * {
    all: revert;
}

.preview {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
