$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$layout-max-width-sm: 100%;
$layout-max-width-md: $breakpoint-md;
$layout-max-width-lg: $breakpoint-lg;
$layout-max-width-xl: $breakpoint-xl;

$layout-width-sm: 100%;
$layout-width-md: 90%;
$layout-width-lg: 70%;
$layout-width-xl: 70%;
